/*ng-style='currentBeat == "1" && {"background-color": "red"} || currentBeat !== "1" && {"background-color": "white"}'*/
*{
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
}
a{
	display: inline-block;
	position: absolute;
	margin-top: 10px;
	margin-right: 45px;
	float: right;
}
button{
	margin-left: 55px;
	margin-top: 10px;
}
#controls{
	display: block;
}
.launchPage{
	background: url('/img/launch_page.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	min-height: 100vh;
}
	.background{
		background: #f4626c;
		background-size: cover;
		min-height: 100vh;
	}
	.background2{
		background: #fff8e1;
		background-size: cover;
		min-height: 100vh;
	}
#sequencer{
	display: inline-block;
	margin-top: 50px;
	margin-left: 50px;
	background-color: white;
	padding:5px;
	box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
}
	#node{
		display: inline-block;
		height: 120px;
		width: 66px;
		box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
	}
	.circle { 
		display: inline-block;
		margin-left: 53px;
		margin-top: 88px;
		width: 8px;
		height: 8px;
		background-color: white; 
		-moz-border-radius: 70px; 
		-webkit-border-radius: 70px; 
		border-radius: 4px;
	}
	.circle_red { 
		display: inline-block;
		margin-left: 53px;
		margin-top: 88px;
		width: 8px;
		height: 8px;
		background-color: red; 
		-moz-border-radius: 70px; 
		-webkit-border-radius: 70px; 
		border-radius: 4px;
	}
		.head{
			height:20px;
			width:auto;
			background: #009CAB;
		}
			.head p{
				display: inline-block;
				color: white;
				/*text-align: center;*/
				margin-left: 5px;
			}

#instruments{
	display: inline-block;
	margin-left: 50px;
	margin-top: 50px;
	background-color: white;
	box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
}
	.instrumentModule{
		vertical-align: top;
		display:inline-block;
		height: 125px;
		width:250px;
		margin-top: 10px;
	}
	.instrumentButtons{
		vertical-align: top;
		display:inline-block;
		height: 100px;
		width:335px;
		margin: 10px 0px 0px 10px;
	}
		.instrumentButtons button{
			padding-right:  15px;
			padding-left: 15px;
			margin:0px 0px 10px 5px;
			display: inline-block;
		}
		.instrumentModule p.range-field{
			display: inline-block;
			margin-left: 20px;
		}
	.sidehead{
			height:30px;
			margin-bottom: 5px;
			width:auto;
			background: #009CAB;
		}
		.sidehead p{
			color:white;
			margin-left: 20px;
			font-size: 16pt;
			/*text-align: center;*/
		}